cachetools==5.5.2
certifi==2025.6.15
charset-normalizer==3.4.2
Faker==37.4.0
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-pubsub==2.30.0
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.73.0
grpcio-status==1.73.0
idna==3.10
importlib_metadata==8.7.0
opentelemetry-api==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
proto-plus==1.26.1
protobuf==6.31.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
requests==2.32.4
rsa==4.9.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
zipp==3.23.0
